/* 手机默认可以长按选择复制，如不想长按选择，可以用以下代码取消： */
*{
    -webkit-touch-callout:none; /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
    /* touch-action:none; 当按住触摸目标时候，禁止或显示系统默认菜单 */
}
/* 以上代码也会禁止输入框的使用，可用以下代码解决：*/
input,textarea {
    user-select: auto;
    -webkit-user-select: auto; /*webkit browser*/
}

#menuLinks {
    display: block;
    background-color: #66bb6a;
    position: absolute;
    top:4rem;
    width:100%;
    z-index: 10;
}

header a.icon {
    background: whitesmoke;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    line-height:4rem; 
    width: 3rem;
}

.motto_pic {
    display:inline-block;
    width:100%;
    height:100%;
    border-radius:1rem;
}

header {
    background: #66bb6a;
    /* padding: 0.5rem 0rem 0rem;
    text-align: center;             */
    position: fixed;
    top: 0rem;
    z-index: 999;
    width: 100%;
}

header a.active{
    background-color:green;
}

main {
    background: #fbfbfb;
    padding: 0.5rem;
    margin-bottom: 3rem;
}
footer {
    background: #eeeeee;
    padding: 0rem;
    text-align: center;
    margin-top:0rem;
    /* display: inline; */
    border-top: grey 1px dotted;
    /* position: fixed; */
    /* bottom:0rem; */
    width: 100%;    
}
footer a:link, footer a:visited {
    color: #333;
    font-weight: 300;
    text-decoration: none;
}
footer a:focus, footer a:hover {
    color: grey;
    font-weight: 300;
    background-color: #eee;
}

footer p{
    line-height:0.5rem;
    margin:0.2rem auto;
}
#pnav-active{
    color:#66bb6a;
    font-weight:500;
}