<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <title>☀Find your words to live by</title>
    <meta name="keywords" content="人生箴言，名人名言，经典语录，励志格言，智慧格言，佛陀教言" />
    <meta name="description" content="专注于分享古今中外的人生箴言、名人名言、经典语录等名言佳句。不求大而全，但求句句经典。人生苦短，多读经典。" />
    <link rel="stylesheet" href="/css/simple-grid.css?v=0.1">
    <link rel="stylesheet" href="/css/motto.css?v=1.11">
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />

    <style type="text/css">
        p {
            text-align: center;
        }

    </style>

    <!-- 引入组件库 -->
    <!-- import Vue before Element -->
    <script src="/js/vue.js"></script>

    <script src="/js/axios.min.js"></script>
    <script src="/js/config.js"></script>
</head>
<body>
    <header>
        <a href="/index.html"><img src="/icon/motto-logo.png" style="height: 3rem;" /></a>
    </header>

    <div id="app">

            <div class="container" style="overflow:auto;margin-top:5rem;">
   
                <div class="row" style="margin-top: 1rem; border-bottom:thin dashed #ccc;" v-for="item in data" v-bind:id="item.id">
                    <div class="col-11" style="line-height:3rem;vertical-align:middle;">
                        <div class="titleleft">
                            <span class="topic" style="margin-right:1rem;color:gray;">{{item.updateTm}}</span>
                            <div style="display: inline;" v-if="item.topics!=''" v-for="(topic,index) in item.topics" :key="index">
                                <span class="topic" :style="{'background-color':bgColors[index % bgColors.length]}">{{topic}}</span>&nbsp;
                            </div>
                        </div>       
                    </div>

                    <div class="col-1" @click="delOneFav(item.id);"><img style="width:2.5rem;height:2.5rem" src="/icon/delete.png"></div>
                    <div class="col-12" style="text-indent: 0em;" v-if="item.imgUrl!=''">
                        <!-- <img v-bind:src="item.imgUrl" /> -->                        
                        <img :src="imgUrl+item.imgUrl" class="motto_pic"></img>
                    </div>
                    <div class="col-12" style="text-indent: 0em;">{{ item.content }}</div>
                    <div class="col-12" style="text-align:left;">——{{item.author}}</div>                    

                </div>

                <p v-if="!support">很抱歉！您的浏览器不支持本地存储，<br/>无法使用收藏功能。</p>
                <p v-if="support && noFavor">您还没有收藏记录</p>
                <p v-if="support && !noFavor && noMore ">—— 没有更多了 ——</p>
                <p v-if="!noMore" @click="loadMore();">点击浏览更多☟</p>
                <p style="line-height: 5rem;">&nbsp;</p>
            </div>

      </div>

  <script>
    var localStorageSupport = true;
    var favIdStr;
    if(typeof(Storage)==="undefined" || !window.localStorage)
    {
        localStorageSupport = false;
        console.log('当前浏览器不支持localStorage!')
        // alert("很抱歉！你的浏览器不支持本地存储，无法使用收藏功能。");

    } else{
        favIdStr = localStorage.getItem("favids");
        if (favIdStr == null)
            favIdStr="";
    }

    var favIdArr = favIdStr.split(",");
    var pageSize = 9;
    //pageTotal 从0开始
    console.log("id total=" + (favIdArr.length-1));
    var pageTotal = (favIdArr.length-1)%pageSize==0 ? ((favIdArr.length-1)/pageSize) : (parseInt((favIdArr.length-1)/pageSize)+1);
    console.log("pageTotal="+pageTotal);
    //page 从1开始
    function getFavIdsByPage(page){
        if (page > pageTotal){
            return "";
        }else{
            return favIdArr.slice((page-1)*pageSize, page*pageSize).join(",");
        }
    }

    function deleteDiv(id){
        console.log("del div "+id);
        var my = document.getElementById(id);
        if (my != null)
            my.parentNode.removeChild(my);
    }
  </script>

  <script>

    new Vue({
      el: '#app',
      data: function() {
        return {
                count: 1,
                loading: false,
                page: 1,
                data: [],
                imgUrl: imgUrlBase,
                total: pageTotal,
                favIds: favIdStr,//收藏
                bgColors: ["#5eb95e","#3bb4f2","#0e90d2","#F37B1D","#dd514c"]
            }
        },
        created(){console.log('实例已经创建完成');this.loadMore();},
        computed: {
            support() {
                return localStorageSupport;
            },
            noFavor() {
                return pageTotal == 0;
            },
            noMore () {
                //当获取数据0条时
                return this.count < pageSize;
            },
            busy () {
                return this.loading;
            }
        },
        methods: {
            delOneFav: function(id){

                deleteDiv(id);
                var idStr = localStorage.getItem("favids");
                idStr = idStr.replace(id+",", "");

                this.favIds = idStr;
                localStorage.setItem("favids",idStr);
            },
            //获取语录
            loadMore: function () {
                var self = this;
                self.loading = true;
                axios.get(apiHost+"/api/motto/text/favor", {
                    params:{
                        idstr:getFavIdsByPage(self.page++)
                    }
                }).then(function (response) {
                    console.log(response.data.data);
                    if (response.data.data == null){
                        alert(response.data.statusText);
                    }else{
                        //
                        arr = response.data.data;

                        arr.forEach(function(item){
                            // console.log(item);
                            self.data.push(item);
                        });
                        // self.loading = false;
                        self.count = arr.length;
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
        }
    })

  </script>
</body>
</html>
