<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=1">
<title>人生格言+ | 心灵充电站</title>
<meta name="keywords" content="人生箴言，名言警句，励志句子，智慧格言，圣贤语录，佛陀教言" />
<meta name="description" content="专注于分享古今中外圣贤哲人智士有关陶冶身心、涵养德性、修身养性等的语录句子。" />
<link rel="stylesheet" href="/css/motto.css">
<link rel="stylesheet" href="/css/simple-grid.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_2712475_pzzzjh51xb.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="shortcut icon" href="/icon/quote-right-32x32.png" type="image/png" />

<style type="text/css">
    .blackboard {
        text-indent: 0em;
        background-color:#255;
        border-radius:1rem;
        padding:1.5rem 0.3rem 1.5rem 0.8rem;
    }
</style>

<!-- 引入组件库 -->
<!-- import Vue before Element -->
<script src="/js/vue.js"></script>

<script src="/js/axios.min.js"></script>
<script src="/js/config.js"></script>

</head>
<body>
    <header style="text-align:center; line-height:4rem; height:4rem;">
        <div style="display: inline-block;height:4rem;line-height:4rem;">
            <a href="./index.html" id="logoA">
                <img src="./icon/motto-logo-white.png" alt="MottoPlus" style="height:4rem" />
            </a>
            <a href="javascript:toggleMenu();" rel="nofollow" class="icon">
                <i class="iconfont icon-menu" style="font-size:2rem"></i>
            </a>
        </div>

        <div id="menuLinks">
            <a href="index.html">首页</a>
            <a href="topics.html">话题</a>
            <a href="authors.html">作者</a>
            <a href="#quote_of_the_day">今日推荐</a>
            <a href="top.html">TOP100</a>
        </div>

    </header>

    <div id="app">

        <div class="show_sidebar" style="z-index:999;position:fixed;bottom:10rem;right:1rem;width:fit-content;height:fit-content;">
            <span @click="goHome"><i class="iconfont icon-shouye" style="font-size:5rem"></i></span><br/>
            <span @click="goTop"><i class="iconfont icon-dingbu" style="font-size:5rem"></i></span><br/>
            <span @click="refresh"><i class="iconfont icon-shuaxin" style="font-size:5rem"></i></span>
        </div>

            <div class="container" style="overflow:auto;margin-top:5rem;">
                <div class="row" style="margin-top: 1rem; border-bottom:thin dashed #ccc;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);" v-for="item in data">
                    <div class="col-12">
                        <div class="titleleft">
                            <span class="topic" style="margin-right:1rem;color:gray;" @touchstart.prevent="goTouchstart(item.id)" @touchend.prevent="goTouchend(item.id)" >{{item.updateTm}}</span>
                            <div style="display: inline;" v-if="item.topics!=''" v-for="(topic,index) in item.topics" :key="index">
                                <span class="topic" :style="{'background-color':bgColors[index % bgColors.length]}">{{topic}}</span>&nbsp;
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-1">
                        <img style="width:2.5rem;height:2.5rem" src="/icon/share.png" @click="setShare(item.id)">
                    </div> -->
                    <div class="col-12" style="text-indent: 0em;" v-if="item.imgUrl!=''">
                        <!-- <img v-bind:src="item.imgUrl" /> -->
                        <!-- <el-image :src="imgUrl+item.imgUrl" lazy style="border-radius: 1rem;"></el-image> -->
                        <img :src="imgUrl+item.imgUrl+'?x-oss-process=image/resize,m_fixed,h_540,w_960'" class="motto_pic" @dblclick="refreshImg">
                    </div>
                    <div class="col-12">
                        <p class="quote_text font-regular left color-black" >{{ item.content }}</p>
                        <p class="quote_author font-light center color-black" >——{{item.author}}</p>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-2" @click="copyContent(item.content, item.author)"><img style="width:2.5rem;height:2.5rem" src="/icon/copy.png"></div>
                        <div class="col-2" v-if="item.imgUrl==''"></div>
                        <div class="col-2" v-if="item.imgUrl!=''"><a :href="imgUrl+item.imgUrl" download><img style="width:2.5rem;height:2.5rem" src="/icon/cloud-download.png"></a></div>
                        <div class="col-2" v-if="!isFavor(item.id)" @click="addOneFav(item.id);"><img style="width:2.5rem;height:2.5rem" src="/icon/fav-black.png"></div>
                        <div class="col-2" v-if="isFavor(item.id)" @click="delOneFav(item.id);"><img style="width:2.5rem;height:2.5rem" src="/icon/fav-red.png"></div>
                        <div class="col-2"><img style="width:2.5rem;height:2.5rem" src="/icon/shiyi.png" @click="showExp(item)" v-if="item.explanation!=''"></div>
                        <div class="col-2"></div>
                    </div>
                </div>

                <!-- <p v-if="loading">加载中...</p> -->
                <p style="line-height: 1rem;">&nbsp;</p>
                <p v-if="noMore" class="center">—— 没有更多了 ——</p>
                <p v-else @click="loadMore();" class="center font-regular color-black">点击浏览更多☟</p>                
                <p style="line-height: 5rem;">&nbsp;</p>
            </div>

      </div>
      <input id="copy_content" type="text" value=""  style="position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;"/>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script>
    //暂时未用
    var key='';
    var href = window.location.href;

    if (-1 != href.indexOf("=")){
        var para = href.split("="); //截取 url中的“=”,获得“=”后面的参数
        key = decodeURI(para[1]);
    }
    if (typeof(key) == undefined){
        key = '';
    }

    //
    var pageIndex = localStorage.getItem("top_page_index");
    if (pageIndex == null) pageIndex=1;

    var favIdStr = localStorage.getItem("favids");
    if (favIdStr == null) favIdStr="";

    var timeOutEvent = 0; //记录触摸时长

    new Vue({
      el: '#app',
      data: function() {
        return {
                count: 1,
                loading: false,
                page: pageIndex,
                data: [],
                imgUrl: imgUrlBase,
                favIds: favIdStr,//收藏
                bgColors: ["#5eb95e","#3bb4f2","#0e90d2","#F37B1D","#dd514c"]
                // total: 1
            }
        },
        // beforeCreate(){console.log('组件实例刚刚被创建');},

        created(){console.log('实例已经创建完成');this.loadMore();},

        // beforeMount(){console.log('模板编译之前');},

        // mounted(){console.log('模板编译之后');},

        // beforeUpdate(){console.log('组件更新之前');},

        // updated(){console.log('组件更新之后');},

        // beforeDestroy(){console.log('组件销毁之前');},

        // destroyed(){console.log('组件销毁之后');},

        computed: {
            noMore () {
                //当获取数据0条时
                return this.count < 9;
            },
            busy () {
                return this.loading;
            },

        },
        methods: {
            showExp: function(item){
                // alert("【释义】\r\n"+item.explanation);
                Toastify({
                    text: "【释义】\r\n" + item.explanation,
                    duration: 3000,
                    // destination: "https://github.com/apvarun/toastify-js",
                    newWindow: true,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    onClick: function(){} // Callback after click
                }).showToast();
            },
            goTop: function(e){
                localStorage.setItem("top_page_index", 1);
                window.location.reload();

            },
            goHome: function(e){
                window.location.href = "./index.html";
            },
            refresh: function(e){
                window.location.reload();
            },
            refreshImg: function(e){
                console.log(e.target.src);

                e.target.src = ((e.target.src).split("?"))[0]+"?"+Math.ceil(Math.random()*100);

                // <!-- 设置全局配置 -->
                // $message.config({ top:100, duration: 3});

                // $message.info('这是一条普通的提示');
                // $message.success('这是一条成功的提示');
                // $message.warning('这是一条警告的提示');
                // $message.error('这是一条格式错误的提示');
                // $message.loading('正在加载中...');

                // $message.info({
                //     content:'这是一条带关闭按钮的消息',
                //     onClose:() => console.log('关闭'),
                //     closable: true,
                //     duration: 6
                // });

            },
            //copy content
            copyContent: function (content, author){
                 
                 //获取要赋值的input的元素
                 var inputElement =  document.getElementById("copy_content");
                 //给input框赋值
                 inputElement.value = content+"——"+author;
                 //选中input框的内容
                 inputElement.select();
                 // 执行浏览器复制命令
                 document.execCommand("Copy");
                 //提示已复制
                 alert('已复制');
 
             },
            findByKeyword: function(author) {
                // window.location.href="/list.html?keyword="+author;
            },
            //收藏
            isFavor: function(id) {
                return this.favIds.includes(id);
            },
            // localStorage 增删查
            addOneFav: function(id){
                var idStr = localStorage.getItem("favids");
                if (idStr == null) idStr="";
                idStr += (id+",");

                this.favIds = idStr;
                localStorage.setItem("favids",idStr);
            },
            delOneFav: function(id){
                var idStr = localStorage.getItem("favids");
                idStr = idStr.replace(id+",", "");

                this.favIds = idStr;
                localStorage.setItem("favids",idStr);
            },
            //跳转到编辑页面
            gotoUpdatePage: function(hashid){
                window.location.href="./editor.html?motto-id="+hashid;
            },
            goTouchstart(hashid) {
                let _this = this;
                clearTimeout(_this.timeOutEvent);
                _this.timeOutEvent = setTimeout(function() {
                    _this.timeOutEvent = 0;
                    //  处理长按事件...
                    _this.gotoUpdatePage(hashid);
                }, 600);
            },
            //手如果在600毫秒内就释放，则取消长按事件
            goTouchend(hashid) {
                let _this = this;
                clearTimeout(_this.timeOutEvent);
                if (_this.timeOutEvent !== 0) {
                    //  处理单击事件
                }
            },

            //获取语录
            loadMore: function () {
                var self = this;

                console.log("key="+key);

                self.loading = true;
                axios.get(apiHost+"/api/motto/text/find", {
                    params:{
                        page:self.page++,
                        keyword:key
                    }
                }).then(function (response) {
                    console.log(response.data.data);
                    if (response.data.data == null){
                        alert(response.data.statusText);
                    }else{
                        //
                        arr = response.data.data;

                        arr.forEach(function(item){
                            // console.log(item);
                            self.data.push(item);
                        });
                        // self.loading = false;
                        self.count = arr.length;

                        localStorage.setItem("top_page_index", self.page-1);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },

        }
    })

  </script>
</body>
</html>
