<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <title>☀人生箴言✙，心灵充电站</title>
    <meta name="keywords" content="人生箴言，名人名言，经典语录，励志格言，智慧格言，佛陀教言" />
    <meta name="description" content="专注于分享古今中外的人生箴言、名人名言、经典语录等名言佳句。不求大而全，但求句句经典。人生苦短，只读经典。" />
    <link rel="stylesheet" href="/css/simple-grid.css?v=0.1">
    <link rel="stylesheet" href="/css/motto.css?v=1.11">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2712475_8fcrxfexvp4.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />

    <style type="text/css">
        * {
            font-size: 1.7rem;
        }
        p {
            text-align: center;
        }
        header a:link{
            font-size: 1.2rem;
            color: #fff;
            /* border:dotted 1px red; */
            text-decoration: none;
            margin: 0rem 0.5rem;
            padding: 0.3rem;
        }
        header a:hover{
            font-size: 1.2rem;
            color: white;
            background: green;
        }
        header a:active{
            font-size: 1.2rem;
            color: white;
        }
        header a:visited{
            font-size: 1.2rem;
            color: white;
        }
    </style>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="/css/element-ui@2.14.1/index.css"> -->
    <!-- 引入组件库 -->
    <!-- import Vue before Element -->
    <script src="/js/vue.js"></script>
    <!-- import JavaScript -->
    <!-- <script src="/js/element-ui@2.14.1/index.js"></script> -->
    <script src="/js/axios.min.js"></script>
    <script src="/js/config.js"></script>

    <!-- 公众号 JSSDK -->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script>
        // 支持微信分享标记
        var wxShareOk = false;
        var isWeixin = false;

        function docReady(fn) {
            if (document.readyState === 'complete' || document.readyState === 'interactive') {
                fn()
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        docReady(async function() {
            var ua = navigator.userAgent.toLowerCase()
            var isWXWork = ua.match(/wxwork/i) == 'wxwork'
            isWeixin = !isWXWork && ua.match(/micromessenger/i) == 'micromessenger'
            var isMobile = false
            var isDesktop = false
            if (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|IEMobile)/i)) {
                isMobile = true
            } else {
                isDesktop = true
            }

            if (isWeixin) {
                window.location.href = "https://m.motto.plus/v1.1/top.html";
                return;

                axios.get(apiHost+"/wx/getWxConfig", {
                    params: { 'fr': window.location.href }
                }).then(function (response) {
                    console.log(response);
                    if (response.status = 200){
                        wx.config({
                            debug: false, // 调试时可开启
                            appId: response.data.appId, // <!-- replace -->
                            timestamp: response.data.timestamp, // 必填，填任意数字即可
                            nonceStr: response.data.nonceStr, // 必填，填任意非空字符串即可
                            signature: response.data.signature, // 必填，填任意非空字符串即可
                            jsApiList: ['updateAppMessageShareData','updateTimelineShareData'] // 必填，随意一个接口即可
                        })
                    }
                    // alert(''.concat(response.data, '\r\n', response.status, '\r\n', response.statusText, '\r\n', response.headers, '\r\n', response.config));
                }).catch(function (error) {
                    alert(error);
                });


            } else if (isDesktop) {
                // 在 pc 上则给提示引导到手机端打开
            }  else {
            }
        })

        if (isWeixin){
        //通过ready接口处理成功验证
        wx.ready(function(){
            console.log("wx.ready invoked");
            wxShareOk = true;
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，
            // config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，
            // 则须把相关接口放在ready函数中调用来确保正确执行。
            // 对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

            //自定义“分享给朋友”及“分享到QQ”按钮的分享内容（1.4.0）
            //需在用户可能点击分享按钮前就先调用
            wx.updateAppMessageShareData({
                title: '☀人生箴言✙，心灵充电站', // 分享标题
                desc: '人生苦短，只读经典', // 分享描述
                link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'https://m.motto.plus/icon/anxin.jpeg', // 分享图标
                success: function () {
                    // 设置成功
                }
            });

            //自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容（1.4.0）
            //需在用户可能点击分享按钮前就先调用
            wx.updateTimelineShareData({
                title: '☀人生箴言✙，心灵充电站', // 分享标题
                link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'https://m.motto.plus/icon/anxin.jpeg', // 分享图标
                success: function () {
                    // 设置成功
                }
            })
        });

        //通过error接口处理失败验证
        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，
            // 具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            alert("wx.error\r\n"+JSON.stringify(res));
        });
    }

    </script>
</head>
<body>
    <header style="text-align: left;">
        <div style="display: inline;"><img src="/icon/motto-logo.png" style="height:3rem" /></div>
        <div style="display: inline;border: yellow 0px solid;position: absolute;top:0.6rem;left:15rem">
            <a href="index.html" >首页</a>
            <a href="topics.html">主题</a>
            <a href="authors.html">作者</a>
            <a href="source.html">出处</a>
            <a href="javascript:;" style="background-color: green;">推荐</a>
        </div>

    </header>

    <div id="app">

        <div style="z-index:999;position:fixed;bottom:10rem;right:1rem;width:fit-content;height:fit-content;">
            <span @click="goHome"><i class="iconfont icon-shouye" style="font-size:5rem"></i></span><br/>
            <span @click="goTop"><i class="iconfont icon-dingbu" style="font-size:5rem"></i></span><br/>
            <span @click="refresh"><i class="iconfont icon-shuaxin" style="font-size:5rem"></i></span>
        </div>

            <div class="container" style="overflow:auto;margin-top:5rem;max-width: 680px;">
                <div class="row" style="margin-top: 1rem; border-bottom:thin dashed #ccc;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);" v-for="item in data">
                    <div class="col-11">
                        <div class="titleleft">
                            <span class="topic" style="margin-right:1rem;color:gray;" @touchstart.prevent="goTouchstart(item.id)" @touchend.prevent="goTouchend(item.id)" >{{item.updateTm}}</span>
                            <div style="display: inline;" v-if="item.topics!=''" v-for="(topic,index) in item.topics" :key="index">
                                <span class="topic" :style="{'background-color':bgColors[index % bgColors.length]}">{{topic}}</span>&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <img style="width:2.5rem;height:2.5rem" src="/icon/share.png" @click="setShare(item.id)">
                    </div>
                    <div class="col-12" style="text-indent: 0em;" v-if="item.imgUrl!=''">
                        <!-- <img v-bind:src="item.imgUrl" /> -->
                        <!-- <el-image :src="imgUrl+item.imgUrl" lazy style="border-radius: 1rem;"></el-image> -->
                        <img :src="imgUrl+item.imgUrl" class="motto_pic" @dblclick="refreshImg">
                    </div>
                    <div class="col-12" style="text-indent: 0em;background-color:#255;border-radius:1rem;padding:0.5rem 0 0.5rem 0.5rem;" v-if="item.imgUrl==''">
                        <p style="text-align:left;color:whitesmoke;font-weight: 400;">{{ item.content }}</p>
                        <p style="text-align:center;color:whitesmoke;font-size:medium;">——{{item.author}}</p>
                    </div>

                    <div class="col-2"></div>
                    <div class="col-2" @click="copyContent(item.content, item.author)"><img style="width:2.5rem;height:2.5rem" src="/icon/copy.png"></div>
                    <div class="col-2" v-if="!isPraise(item.id)" @click="addOnePra(item.id);"><img style="width:2.5rem;height:2.5rem" src="/icon/praise.png"></div>
                    <div class="col-2" v-if="isPraise(item.id)" @click="delOnePra(item.id);"><img style="width:2.5rem;height:2.5rem" src="/icon/praise-red.png"></div>
                    <div class="col-2" v-if="!isFavor(item.id)" @click="addOneFav(item.id);"><img style="width:2.5rem;height:2.5rem" src="/icon/fav-black.png"></div>
                    <div class="col-2" v-if="isFavor(item.id)" @click="delOneFav(item.id);"><img style="width:2.5rem;height:2.5rem" src="/icon/fav-red.png"></div>
                    <div class="col-2"><img style="width:2.5rem;height:2.5rem" src="/icon/shiyi.png" @click="showExp(item)" v-if="item.explanation!=''"></div>
                    <div class="col-2"></div>
                </div>

                <!-- <p v-if="loading">加载中...</p> -->
                <p style="line-height: 1rem;">&nbsp;</p>
                <p v-if="noMore">—— 没有更多了 ——</p>
                <p v-else @click="loadMore();" style="font-weight: 400;color: red;">点击浏览更多☟</p>                
                <p style="line-height: 5rem;">&nbsp;</p>
            </div>

      </div>
      <input id="copy_content" type="text" value=""  style="position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;"/>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script>
    //暂时未用
    var key='';
    var href = window.location.href;

    if (-1 != href.indexOf("=")){
        var para = href.split("="); //截取 url中的“=”,获得“=”后面的参数
        key = decodeURI(para[1]);
    }
    if (typeof(key) == undefined){
        key = '';
    }

    //
    var pageIndex = localStorage.getItem("top_page_index");
    if (pageIndex == null) pageIndex=1;

    var favIdStr = localStorage.getItem("favids");
    if (favIdStr == null) favIdStr="";

    var praIdStr = localStorage.getItem("praids");
    if (praIdStr == null) praIdStr="";

    var timeOutEvent = 0; //记录触摸时长

    new Vue({
      el: '#app',
      data: function() {
        return {
                count: 1,
                loading: false,
                page: pageIndex,
                data: [],
                imgUrl: imgUrlBase,
                favIds: favIdStr,//收藏
                praIds: praIdStr,//点赞
                bgColors: ["#5eb95e","#3bb4f2","#0e90d2","#F37B1D","#dd514c"]
                // total: 1
            }
        },
        beforeCreate(){console.log('组件实例刚刚被创建');},

        created(){console.log('实例已经创建完成');this.loadMore();},

        beforeMount(){console.log('模板编译之前');},

        mounted(){console.log('模板编译之后');},

        beforeUpdate(){console.log('组件更新之前');},

        updated(){console.log('组件更新之后');},

        beforeDestroy(){console.log('组件销毁之前');},

        destroyed(){console.log('组件销毁之后');},

        computed: {
            noMore () {
                //当获取数据0条时
                return this.count < 9;
            },
            busy () {
                return this.loading;
            },

        },
        methods: {
            setShare: function(id){
                if (wxShareOk){
                    wx.updateAppMessageShareData({
                        title: '☀人生箴言✙，心灵充电站', // 分享标题
                        desc: '人生苦短，只读经典', // 分享描述
                        link: window.location.protocol+"//"+window.location.host+"/v1.1/random.html?key="+id, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: 'https://m.motto.plus/icon/anxin.jpeg', // 分享图标
                        success: function () {
                            // 设置成功+⊕✚✙☯√↖↗✓✔√▌▍▎▏🙏
                            alert("✔设置成功\r\n请点击右上角[•••]分享");
                        }
                    });

                    //自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容（1.4.0）
                    //需在用户可能点击分享按钮前就先调用
                    wx.updateTimelineShareData({
                        title: '☀人生箴言✙，心灵充电站', // 分享标题
                        link: window.location.protocol+"//"+window.location.host+"/v1.1/random.html?key="+id, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: 'https://m.motto.plus/icon/anxin.jpeg', // 分享图标
                        success: function () {
                            // 设置成功
                            // alert("设置成功，请点击右上角分享");
                        }
                    });
                }else{
                    alert("仅支持微信分享，请在微信里访问");
                }

            },
            showExp: function(item){
                // alert("【释义】\r\n"+item.explanation);
                Toastify({
                    text: "【释义】\r\n" + item.explanation,
                    duration: 3000,
                    // destination: "https://github.com/apvarun/toastify-js",
                    newWindow: true,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    onClick: function(){} // Callback after click
                }).showToast();
            },
            goTop: function(e){
                localStorage.setItem("top_page_index", 1);
                window.location.reload();

            },
            goHome: function(e){
                window.location.href = "./index.html";
            },
            refresh: function(e){
                window.location.reload();
            },
            refreshImg: function(e){
                console.log(e.target.src);

                e.target.src = ((e.target.src).split("?"))[0]+"?"+Math.ceil(Math.random()*100);

                // <!-- 设置全局配置 -->
                // $message.config({ top:100, duration: 3});

                // $message.info('这是一条普通的提示');
                // $message.success('这是一条成功的提示');
                // $message.warning('这是一条警告的提示');
                // $message.error('这是一条格式错误的提示');
                // $message.loading('正在加载中...');

                // $message.info({
                //     content:'这是一条带关闭按钮的消息',
                //     onClose:() => console.log('关闭'),
                //     closable: true,
                //     duration: 6
                // });

            },
            //copy content
            copyContent: function (content, author){
                 
                 //获取要赋值的input的元素
                 var inputElement =  document.getElementById("copy_content");
                 //给input框赋值
                 inputElement.value = content+"——"+author;
                 //选中input框的内容
                 inputElement.select();
                 // 执行浏览器复制命令
                 document.execCommand("Copy");
                 //提示已复制
                 alert('已复制');
 
             },
            findByKeyword: function(author) {
                // window.location.href="/list.html?keyword="+author;
            },
            //点赞
            isPraise: function(id) {
                return this.praIds.includes(id);
            },
            addOnePra: function(id){
                var idStr = localStorage.getItem("praids");
                if (idStr == null) idStr="";
                idStr += (id+",");

                this.praIds = idStr;
                localStorage.setItem("praids",idStr);
            },
            delOnePra: function(id){
                var idStr = localStorage.getItem("praids");
                idStr = idStr.replace(id+",", "");

                this.praIds = idStr;
                localStorage.setItem("praids",idStr);
            },
            //收藏
            isFavor: function(id) {
                return this.favIds.includes(id);
            },
            // localStorage 增删查
            addOneFav: function(id){
                var idStr = localStorage.getItem("favids");
                if (idStr == null) idStr="";
                idStr += (id+",");

                this.favIds = idStr;
                localStorage.setItem("favids",idStr);
            },
            delOneFav: function(id){
                var idStr = localStorage.getItem("favids");
                idStr = idStr.replace(id+",", "");

                this.favIds = idStr;
                localStorage.setItem("favids",idStr);
            },
            //跳转到编辑页面
            gotoUpdatePage: function(hashid){
                window.location.href="./editor.html?motto-id="+hashid;
            },
            goTouchstart(hashid) {
                let _this = this;
                clearTimeout(_this.timeOutEvent);
                _this.timeOutEvent = setTimeout(function() {
                    _this.timeOutEvent = 0;
                    //  处理长按事件...
                    _this.gotoUpdatePage(hashid);
                }, 600);
            },
            //手如果在600毫秒内就释放，则取消长按事件
            goTouchend(hashid) {
                let _this = this;
                clearTimeout(_this.timeOutEvent);
                if (_this.timeOutEvent !== 0) {
                    //  处理单击事件
                }
            },

            //获取语录
            loadMore: function () {
                var self = this;

                console.log("key="+key);

                self.loading = true;
                axios.get(apiHost+"/api/motto/text/find", {
                    params:{
                        page:self.page++,
                        keyword:key
                    }
                }).then(function (response) {
                    console.log(response.data.data);
                    if (response.data.data == null){
                        alert(response.data.statusText);
                    }else{
                        //
                        arr = response.data.data;

                        arr.forEach(function(item){
                            // console.log(item);
                            self.data.push(item);
                        });
                        // self.loading = false;
                        self.count = arr.length;

                        localStorage.setItem("top_page_index", self.page-1);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },

        }
    })

  </script>
</body>
</html>
